asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
crispy-bootstrap4==2025.6
cryptography==45.0.4
dj-database-url==3.0.0
Django==5.1.6
django-allauth==65.9.0
django-configurations==2.5.1
django-crispy-forms==2.4
django-debug-toolbar==5.2.0
djangorestframework==3.16.0
idna==3.10
narwhals==1.44.0
packaging==25.0
pillow==11.2.1
plotly==6.2.0
pycparser==2.22
PyJWT==2.10.1
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.5.0
xlsxwriter==3.2.5
