<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przykład użycia React'a</title>
</head>
<body>
    <div id="react_container"></div>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="{% static 'react-example.js' %}" type="text/babel"></script>
    <script type="text/javascript">
        window.reactProps = {
            name: "{{ name|escapejs }}",
            target: Number("{{ target|escapejs }}") || 0  // ← kluczowa linia
        };
    </script>
        <script type="text/babel">
        ReactDOM.render(
            <ClickCounter
                name={window.reactProps.name}
                target={window.reactProps.target}
            />,
            document.getElementById('react_container')
        );
    </script>
</body>
</html>